.calendar-app{
    width: 60%;
    min-width: 100vmin; /*for responsiveness*/
    aspect-ratio: 3/2; /*3 => represent width of the element 2 => Height of the element */
    background-color: #053641;
    display: flex;
    padding: 3rem;
    column-gap: 3rem;
    border: .3rem solid #000;;
    border-radius: 2rem;
    position: relative;
    transform-style: preserve-3d;
}

.calendar-app::after{
    content: "";
    position: absolute;
    height: 16rem;
    width: 100%;
    bottom: -12rem;
    left: 50%;
    transform: translate(-50%) rotateX(50deg);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20rem;
    filter: blur(4rem);
}

.calendar{
   width: 60%; 
   /* background-color: rgb(175, 177, 179); */
}

.heading{
    font-family: 'Montserrat', 'sans-serif';
    font-size: clamp(4rem, 3.8cqi, 7rem);
    color: #fff;
    letter-spacing: 0.3rem;
}

.navigate-date{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 1rem 0;
}
.navigate-date h2{
    font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
    color: antiquewhite;
    padding-left: 1.3rem;
}
.buttons{
    display: flex;
    column-gap: 1rem;
    margin-left: auto;
}

.buttons i{
    color: antiquewhite;
    display: flex;
    background-color: #331d0c;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.weekdays{
    width: 100%;
    display: flex;
    margin: 3rem 0;
}

.weekdays span{
    width: calc(100% / 7);
    font-size: clamp(1rem, 0.8cqi,1.3rem);
    font-weight: bold;
    text-transform: uppercase;
    color: #dae3e6;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: center;
}

.days{
    display: flex;
    flex-wrap: wrap;
}
.days span{
    font-size: clamp(1rem, 0.7cqi, 1.3rem);
    width: calc(100% / 7);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    cursor: pointer;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}


.current-day{
    background-color: #ef9811;
    border-radius: 50%;
    box-shadow: 0 0 1.5rem 1rem rgba(239, 144, 17, 0.3) ;
}

/* ------------------------Events style --------------- */

.events{
    width: 60%;
    height: 100%;
    padding: 2rem 0;
    overflow-y: auto;
}
.events::-webkit-scrollbar{
    display: none;
}

/* --------------------------------Event popUp --------------------------------      */

.event-popup{
    position: absolute;
    top: 38%;
    left: 3rem;
    background-color: #161b22;
    width: clamp(25rem, 35cqi, 35rem);
    aspect-ratio: 10/7;
    border-radius: 1rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.time-input{
   display: flex;
   column-gap: 1rem; 
}

.time-input input{
    background-color: transparent;
    border: none;
    border-top: 0.2rem solid #00a3ff;
    border-bottom: 0.2rem solid #00a3ff;
    color: #fff;
    width: clamp(4rem, 4cqi, 7rem);
    height: 4rem;
    text-align: center;
    font-size: clamp(1.2rem, 1.2cqi, 1.6rem);
}

.time-input input[type="number"]::-webkit-outer-spin-button,
.time-input input[type="number"]::-webkit-inner-spin-button{
appearance: none;
}

.event-popup-time{
    width: clamp(5rem, 4.2cqi, 7rem);
    background-color: aquamarine;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1.3rem, 1.3cqi, 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1.5rem 1rem rgba(0,163,255,0.2);
    letter-spacing: .1rem;
}

.event-popup textarea{
    width: clamp(15rem, 15cqi, 25rem);
    aspect-ratio: 5/2;
    resize: none;
    background-color: #000;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #78879e;
    transition: border 0.5rem;
}
.event-popup textarea:focus{
    border: .1rem solid #00a3ff;
}
.event-popup textarea::placeholder{
    font-size: clamp(1rem 0.8cqi, 1.2rem);
    color: #78879e;
}
.event-popup textarea:focus::placeholder{
    color: transparent;
}

.event-popup-btn{
    width: clamp(15rem, 15cqi, 25rem);
    height: 4rem;
    background-color: #ef9811;
    color: #fff;
    font-family: 'Montserrat', 'sans-serif'; 
    font-size: clamp(1.5rem, 1.5cqi,2.2rem);
    letter-spacing: 1rem;
    border: none;
    box-shadow: 0 0 0.5rem 1 rem rgba(239, 144, 17, 0.2);
    cursor: pointer;
}

.event-popup-btn:active{
    transform: translateY(0.1rem);
}

.close-event-popup{
     position: absolute;
     top: 1rem;
     right: 1rem;
     background-color: transparent;
     border: none;
}

.close-event-popup i{
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

/* --------------------------------Events--------------------------------      */


.event{
    width: 100%;
    height: 8rem;
    background-color: #2996d9;
    padding: 1rem 0;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.event-date-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-right:  0.1rem solid rgba(255,255,255,0.5) ;
}

.event-date{
    font-size: clamp(1rem, 1cqi, 1.2rem);
    color: #ddd;
}

.event-time{
    font-size: clamp(1.3rem, 1cqi, 1.6rem);
    color: #dae3e6;
    font-weight: bold;
    line-height: 4rem;
}

.event-text{
    font-size: clamp(1.2rem, 1cqi, 1.4rem);
    line-height: 2rem;
    color: #dae3e6;
    width: 75%;
    padding: 0 3rem 0 1rem;
    overflow-wrap: break-word;
}

.event-buttons{
    position: absolute;
    top: 20%;
    transform: rotateY(-50%);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    right: 1rem;
}

.event-buttons i{
    font-size: 1.6rem;
    color: #ddd;
    cursor: pointer;
}

/*------------MEDIA QUERIES-----*/
