*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif
}

body{
  /* background-color: #a459f4; */
  background-color: #a459f4;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-container{
  width:  450px;
  height: auto;
  /* border: 1px solid white;| */
  padding: 0px 20px 0px 20px;
}

.todo-search{
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  padding: 0px 10px 0px 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo-search small{
  align-self: self-start;
  color: red
}

.todo-search form{
  width: 100%;
  height: auto;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px 10px 0px;

}

.todo-list{
  width: 100%;
  height: auto;
  background-color: white;
  padding-top: 10px !important;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
}

.todo-list .task p {
  font-size: 1rem;
}

.todo-list .task small {
  font-size: 0.875rem;
  color: gray;
}

.modal form input {
  margin-bottom: 10px;
}

button#add {
  background-color: #00b894;
}

.btn-container .cancel {
  background-color: #d63031;
}


.todo-search form input, select{
  border: 1px solid silver;
  height: 50px;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}

select{
  width: 100%;
  margin: 20px 0px 20px 0px;
  height: 50px;
}

input:focus, select:focus{
  outline: 1px solid #a459f4;
}

.todo-search form button{
  height: 50px;
  width: 70px;
  padding: 0px 10px 0px 10px;
  background-color: #a459f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.todo-list-item{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid silver;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-item .btn-container{
  display: flex;

}
.todo-list-item .edit{
  margin-right: 10px;
}

.todo-list-item .description {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
}

.todo-list-item .edit, .todo-list-item .del{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #a459f4;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list .task{
  flex-direction: column;
}

.todo-list .task input{
  margin-right: 10px;
  width: 20px;
}


/* modal style */


.modal-container{
  background-color:  rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* width: 100vw;
  height: 100vh; */
  width: 100%;
  height: 100%;
  display: flex;
}

.modal{
  width: 400px;
  /* height: 300px; */
  background-color: white;
  border-radius: 5px;
  padding:  40px;
  text-align: center;
  transition: 0.5 ease-in-out
  /* display: none; */
}


.modal form{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;

}

.modal form button{
  height: 40px;
  padding: 10px;
  border: none;
  background-color: #a459f4;
  color: white;
  border-radius: 5px;
  cursor: pointer;

}

.modal input{
  width: 250px;
  height: 40px;
  border: 1px solid silver;
  padding: 10px;
  border-radius: 5px;
}


.modal .btn-container{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  margin-top: 20px;
}

.mod-btn{
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 17px;
}

.showbtn{ 
  background: #a459f4;
}


.btn-container .cancel{ 
  background: #a459f4;
  margin-right: 10px;
}

/* .btn-container .success{ 
  background: purple;
} */


.strike{
  text-decoration: line-through;
}