@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&display=swap');

html{
  font-size: 62.5%;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
font-family: "Parkinsans", sans-serif;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #257f8f;
  display: grid;
  place-items: center;
  perspective: 100%;
}